#infor_partida:hover {
	background: #8484ff1a;
	cursor: pointer;
	color: #8b8bff;
}

.modal-content {

	font-size: 10px;

}
#sumar {
	cursor: pointer;
}
#sumar:hover {
	cursor: pointer;
	color: #00f9;
}
td {
font-size: 11px;
}