.col-sm-6.left {
	margin-top: 20px;
	text-align: justify;
	border-right: 1px solid #d2d2d2;
}
.img-responsive.img-lapis {
	margin-bottom: 31px;
	border: 1px solid #1800ff33;
}
.col-sm-6.right {
	margin-top: 20px;
	text-align: justify;
	
}
.col-md-6.btn-acordion {
	/* background-color: aqua; */
	text-align: center;
	font-size: 15px;
	font-style: italic;
	padding: 10px;
	/* margin: 10px; */
	color: #0000ffb3;
}.ui-widget-content a {
	color: #291FD5;
}